*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}


.navbar-brand{
	padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a{
	text-decoration: none;
}

.row{
	width: 100%;	
	margin: 0 auto;	
}

section{
	position: relative;
	padding-left: 15px;
	margin-bottom: 15px;
}

h3{
	position: absolute;	
	z-index: 2;
	top: -10px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 1.25em;
	font-weight: bolder;
}

section:nth-child(1) p{
	height: 2000px;
}

p{
	height: 300px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	padding: 30px 20px 20px;
	overflow: hidden;
	background-color: #b2beb5;
	z-index: 1;
}

#nav-list{
	background: #b2beb5;
}

#nav-list a:hover, #nav-list a:focus {
  background-color: #fff;
  height: 100%;
}

#nav-list a:active {
  background-color: #f6b319;
}

.collapse #nav-list hr{
	border-top: 1px solid black;
	margin: 0 auto;
}

.collapse .navbar-nav a{
	text-align: center;
	line-height: .65;

}




